# Build output
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Migrations (tieni traccia solo dei file generati, non dei binari)
# Decommenta se vuoi ignorare le migration:
# **/Migrations/

# Secrets & env
*.pfx
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Logs
*.log
logs/
